.resetPassword-container {
  width: 60%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetPassword-body {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetPassword-form {
  width: 50%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  background: #ffffff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.resetPassword-h2 {
  font-size: 20px;
  text-align: center;
  color: rgb(64, 61, 213);
}
.resetPassword-group-field {
  margin-top: 10px;
}
.resetPassword-Label {
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.resetPassword-Field {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px;
  border: 1px solid #dedbdb;
  outline: none;
  padding: 0 20px;
}
.resetPassword-button {
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
  background: rgb(64, 61, 213);
  color: rgba(255, 255, 255, 1);
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.resetPassword-button:hover {
  background: rgb(9, 6, 183);
}

.reset-eye-icon {
  position: absolute;
  right: 10px;
  top: 35px;
}

.reset-password {
  position: relative;
}
