
.s0{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    height: 350px; 
    /* text-align: center;
    margin: 10% auto 0% auto; */
    padding: 30px;
    border-radius: 12px;
}
.s2{
    color: #0B08AB;
    width: 100%;
    font-size: 25px;
   text-align: center;
}
.s3{
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    font-size: 16px;
}

.s4{
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    font-size: 16px;

}
.s5{
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
}
.button{
    background: #4643df;
    color: white;    
    border-radius: 8px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: #0B08AB;

}
.boder{
    border-radius: 8px;
    border: 1px solid darkgray;
    height: 40px;
    outline: none;
    padding: 0 20px;
}
